<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Tweets</title>
	<div th:replace="/fragments/headlinks :: head-styles"></div>
</head>
<body>    
    <div class="container">
        <div th:replace="fragments/navbar"></div>
                
        <ul class="nav nav-tabs">
            <li role="presentation" th:classappend="${filter == 'all' ? 'active' : '' }">
                <a href="/tweets">All</a></li>
            <li role="presentation" th:classappend="${filter == 'following' ? 'active' : '' }">
                <a href="/tweets?filter=following">Following</a></li>
        </ul><br/>
                
        <div th:if="${not #lists.isEmpty(tweetList)}">   
            <h2>Tweets</h2>
        </div>        
        
        <div th:replace="fragments/tweet"></div>
        
        <div th:if="${#lists.isEmpty(tweetList) and filter == 'all'}">
            <h3>No tweets have been created yet</h3>
        </div>
        <div th:if="${#lists.isEmpty(tweetList) and filter == 'following'}">
            <h3>No tweets have been created by your followers</h3>
        </div>
    </div>
</body>
</html>    